@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  user-select: none;
  pointer-events: none;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
